httpx
jinja2
git+https://github.com/ronnix/python-livereload.git@2358f347d6f933d423675a80a661ef8bb7885a34#egg=livereload
minicli
mistune>=2.0.0rc1
more-itertools
pyinotify==0.9.6; platform_system == 'Linux'
pytest
python-slugify
pytz
regex
selectolax
toml
tox
watchdog