<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>https://mesconseilscovid.sante.gouv.fr/</loc>
        <lastmod>{{ lastmod_date }}</lastmod>
        <changefreq>daily</changefreq>
        <priority>1.0</priority>
    </url>
    {% for thematique in thematiques -%}
    <url>
        <loc>https://mesconseilscovid.sante.gouv.fr/{{ thematique.name }}.html</loc>
        <lastmod>{{ thematique.last_modified.date() }}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>1.0</priority>
    </url>
    {% endfor %}
</urlset>
