<!doctype html>
<html lang="{{ thematique.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ thematique.title }} — Mes Conseils Covid</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="192x192" href="android-chrome-192x192.png">
    <link rel="apple-touch-icon" sizes="384x384" href="android-chrome-384x384.png">
    <link rel="apple-touch-icon" sizes="512x512" href="android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#000091">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Conseils Covid">
    <meta name="application-name" content="Conseils Covid">
    <meta name="msapplication-TileColor" content="#000091">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{{ thematique.headerstr or 'Vaccination, passe vaccinal, passe sanitaire, QR code ou test PCR, il n’est pas évident de comprendre quoi faire. MesConseilsCovid répond à vos questions pour savoir quoi faire dans une situation liée à la Covid.' }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-starturl" content="/">
    <meta name="referrer" content="none">
    <meta property="og:title" content="{{ thematique.title }} — Mes Conseils Covid">
    <meta property="og:description" content="{{ thematique.headerstr or 'Vaccination, passe vaccinal, passe sanitaire, QR code ou test PCR, il n’est pas évident de comprendre quoi faire. MesConseilsCovid répond à vos questions pour savoir quoi faire dans une situation liée à la Covid.' }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ thematique.imgsrcpng }}">
    <meta property="og:url" content="https://mesconseilscovid.sante.gouv.fr/{{ thematique.name }}.html">
    <meta property="og:locale" content="fr_FR">
</head>
<body class="page-thematique" data-thematique-name="{{ thematique.name }}" data-stats-url="{{ config_stats_url|inline }}">
    <header role="banner">
        <section>
            <img id="marianne" src="marianne.png"
                alt="Ministère des Solidarités et de la Santé"
                width="100" height="78">

            <a id="logo" href="/" title="Aller à l’accueil">
                <img id="logo-carre" src="logo-carre.png"
                    alt=""
                    width="75" height="75"
                ><img id="logo-titre" src="logo-titre.png"
                    alt="Mes Conseils Covid - retour à l’accueil"
                    width="75" height="34">
                <span class="visually-hidden">Mes Conseils Covid</span>
            </a>
            <div id="js-profil-full-header" class="js-profil-full" hidden>
                <b class="profil" id="nom-profil-header"></b>
            </div>
            <div id="js-profil-empty-header" class="js-profil-empty"></div>
        </section>
    </header>
    <main role="main">
        <section id="recherche" class="recherche">
            <div class="block">
                <form action="https://duckduckgo.com/" method="get" id="form-search">
                  <label for="input-search">Termes de votre recherche :</label>
                  <input type="search" name="q" id="input-search" required>
                  <input type="hidden" name="sites" value="mesconseilscovid.sante.gouv.fr">
                  <button class="button">Chercher</button>
                  <button class="button button-outline" type="reset">Annuler</button>
                </form>
                <p id="search-status" role="status"></p>
                <div id="search-results"></div>
            </div>
        </section>

        <section id="page" class="thematique">
            <section id="introduction">
                <div>
                    <div id="conseils-block" class="block">
                        <h1>{{ thematique.title }}</h1>
                        <div class="illustration">
                            <img src="{{ thematique.imgsrc }}" alt="">
                        </div>
                        <div class="conseils">
                            <div class="date-mise-a-jour">
                                Dernière mise à jour : le <time datetime="{{ thematique.last_modified.isoformat(timespec='minutes') }}">{{ thematique.last_modified.strftime('%d/%m/%Y') }}</time>.
                            </div>
                            {{ thematique.header }}
                            {{ thematique.body }}
                        </div>
                    </div>
                    <div class="feedback-block">
                        {{ meta_feedback_conseils }}
                    </div>
                    <div class="block">
                        <div class="thematiques">
                            <h2>Autres pages populaires</h2>
                            <ul class="cards ">
                                {% for thematique in thematiques %}
                                <li class="card">
                                    <a class="card-header" href="{{ thematique.name }}.html">
                                        <img src="{{ thematique.imgsrc }}" loading="lazy" alt=""
                                             width="96" height="77">
                                        <span class="card-title">{{ thematique.title }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer role="contentinfo">
        {{ meta_pied_de_page }}
    </footer>

    <div class="bandeau-elections">
        <details>
            <summary>
                <div class="open">
                    <span class="link">Nos conseils pour voter en sécurité</span><span aria-hidden="true"> 🇫🇷</span>
                </div>
                <div class="close">
                    <span class="link">Fermer</span><span class="cross" aria-hidden="true">&times;</span>
                </div>
            </summary>
            <div>
                {{ meta_bandeau_elections }}
            </div>
        </details>
    </div>

    {{ meta_unsupported_browser }}

    <script type="module" src="./scripts/main.js"></script>
    <script id="search-index" type="application/json">
      {{ search_index }}
    </script>
    <!-- French stopwords from https://github.com/stopwords-iso/stopwords-fr -->
    <script id="search-stop-words" type="application/json">
      [
        "a", "abord", "absolument", "afin", "ah", "ai", "aie", "aient", "aies",
        "ailleurs", "ainsi", "ait", "allaient", "allo", "allons", "allô",
        "alors", "anterieur", "anterieure", "anterieures", "apres", "après",
        "as", "assez", "attendu", "au", "aucun", "aucune", "aucuns", "aujourd",
        "aujourd'hui", "aupres", "auquel", "aura", "aurai", "auraient", "aurais",
        "aurait", "auras", "aurez", "auriez", "aurions", "aurons", "auront",
        "aussi", "autant", "autre", "autrefois", "autrement", "autres", "autrui",
        "aux", "auxquelles", "auxquels", "avaient", "avais", "avait", "avant",
        "avec", "avez", "aviez", "avions", "avoir", "avons", "ayant", "ayez",
        "ayons", "b", "bah", "bas", "basee", "bat", "beau", "beaucoup", "bien",
        "bigre", "bon", "boum", "bravo", "brrr", "c", "car", "ce", "ceci",
        "cela", "celle", "celle-ci", "celle-là", "celles", "celles-ci",
        "celles-là", "celui", "celui-ci", "celui-là", "celà", "cent",
        "cependant", "certain", "certaine", "certaines", "certains", "certes",
        "ces", "cet", "cette", "ceux", "ceux-ci", "ceux-là", "chacun", "chacune",
        "chaque", "cher", "chers", "chez", "chiche", "chut", "chère", "chères",
        "ci", "cinq", "cinquantaine", "cinquante", "cinquantième", "cinquième",
        "clac", "clic", "combien", "comme", "comment", "comparable",
        "comparables", "compris", "concernant", "contre", "couic", "crac", "d",
        "da", "dans", "de", "debout", "dedans", "dehors", "deja", "delà",
        "depuis", "dernier", "derniere", "derriere", "derrière", "des",
        "desormais", "desquelles", "desquels", "dessous", "dessus", "deux",
        "deuxième", "deuxièmement", "devant", "devers", "devra", "devrait",
        "different", "differentes", "differents", "différent", "différente",
        "différentes", "différents", "dire", "directe", "directement", "dit",
        "dite", "dits", "divers", "diverse", "diverses", "dix", "dix-huit",
        "dix-neuf", "dix-sept", "dixième", "doit", "doivent", "donc", "dont",
        "dos", "douze", "douzième", "dring", "droite", "du", "duquel", "durant",
        "dès", "début", "désormais", "e", "effet", "egale", "egalement",
        "egales", "eh", "elle", "elle-même", "elles", "elles-mêmes", "en",
        "encore", "enfin", "entre", "envers", "environ", "es", "essai", "est",
        "et", "etant", "etc", "etre", "eu", "eue", "eues", "euh", "eurent",
        "eus", "eusse", "eussent", "eusses", "eussiez", "eussions", "eut", "eux",
        "eux-mêmes", "exactement", "excepté", "extenso", "exterieur", "eûmes",
        "eût", "eûtes", "f", "fais", "faisaient", "faisant", "fait", "faites",
        "façon", "feront", "fi", "flac", "floc", "fois", "font", "force",
        "furent", "fus", "fusse", "fussent", "fusses", "fussiez", "fussions",
        "fut", "fûmes", "fût", "fûtes", "g", "gens", "h", "ha", "haut", "hein",
        "hem", "hep", "hi", "ho", "holà", "hop", "hormis", "hors", "hou", "houp",
        "hue", "hui", "huit", "huitième", "hum", "hurrah", "hé", "hélas", "i",
        "ici", "il", "ils", "importe", "j", "je", "jusqu", "jusque", "juste",
        "k", "l", "la", "laisser", "laquelle", "las", "le", "lequel", "les",
        "lesquelles", "lesquels", "leur", "leurs", "longtemps", "lors",
        "lorsque", "lui", "lui-meme", "lui-même", "là", "lès", "m", "ma",
        "maint", "maintenant", "mais", "malgre", "malgré", "maximale", "me",
        "meme", "memes", "merci", "mes", "mien", "mienne", "miennes", "miens",
        "mille", "mince", "mine", "minimale", "moi", "moi-meme", "moi-même",
        "moindres", "moins", "mon", "mot", "moyennant", "multiple", "multiples",
        "même", "mêmes", "n", "na", "naturel", "naturelle", "naturelles", "ne",
        "neanmoins", "necessaire", "necessairement", "neuf", "neuvième", "ni",
        "nombreuses", "nombreux", "nommés", "non", "nos", "notamment", "notre",
        "nous", "nous-mêmes", "nouveau", "nouveaux", "nul", "néanmoins", "nôtre",
        "nôtres", "o", "oh", "ohé", "ollé", "olé", "on", "ont", "onze",
        "onzième", "ore", "ou", "ouf", "ouias", "oust", "ouste", "outre",
        "ouvert", "ouverte", "ouverts", "o|", "où", "p", "paf", "pan", "par",
        "parce", "parfois", "parle", "parlent", "parler", "parmi", "parole",
        "parseme", "partant", "particulier", "particulière", "particulièrement",
        "pas", "passé", "pendant", "pense", "permet", "personne", "personnes",
        "peu", "peut", "peuvent", "peux", "pff", "pfft", "pfut", "pif", "pire",
        "pièce", "plein", "plouf", "plupart", "plus", "plusieurs", "plutôt",
        "possessif", "possessifs", "possible", "possibles", "pouah", "pour",
        "pourquoi", "pourrais", "pourrait", "pouvait", "prealable",
        "precisement", "premier", "première", "premièrement", "pres", "probable",
        "probante", "procedant", "proche", "près", "psitt", "pu", "puis",
        "puisque", "pur", "pure", "q", "qu", "quand", "quant", "quant-à-soi",
        "quanta", "quarante", "quatorze", "quatre", "quatre-vingt", "quatrième",
        "quatrièmement", "que", "quel", "quelconque", "quelle", "quelles",
        "quelqu'un", "quelque", "quelques", "quels", "qui", "quiconque",
        "quinze", "quoi", "quoique", "r", "rare", "rarement", "rares",
        "relative", "relativement", "remarquable", "rend", "rendre", "restant",
        "reste", "restent", "restrictif", "retour", "revoici", "revoilà", "rien",
        "s", "sa", "sacrebleu", "sait", "sans", "sapristi", "sauf", "se", "sein",
        "seize", "selon", "semblable", "semblaient", "semble", "semblent",
        "sent", "sept", "septième", "sera", "serai", "seraient", "serais",
        "serait", "seras", "serez", "seriez", "serions", "serons", "seront",
        "ses", "seul", "seule", "seulement", "si", "sien", "sienne", "siennes",
        "siens", "sinon", "six", "sixième", "soi", "soi-même", "soient", "sois",
        "soit", "soixante", "sommes", "son", "sont", "sous", "souvent", "soyez",
        "soyons", "specifique", "specifiques", "speculatif", "stop",
        "strictement", "subtiles", "suffisant", "suffisante", "suffit", "suis",
        "suit", "suivant", "suivante", "suivantes", "suivants", "suivre",
        "sujet", "superpose", "sur", "surtout", "t", "ta", "tac", "tandis",
        "tant", "tardive", "te", "tel", "telle", "tellement", "telles", "tels",
        "tenant", "tend", "tenir", "tente", "tes", "tic", "tien", "tienne",
        "tiennes", "tiens", "toc", "toi", "toi-même", "ton", "touchant",
        "toujours", "tous", "tout", "toute", "toutefois", "toutes", "treize",
        "trente", "tres", "trois", "troisième", "troisièmement", "trop", "très",
        "tsoin", "tsouin", "tu", "té", "u", "un", "une", "unes", "uniformement",
        "unique", "uniques", "uns", "v", "va", "vais", "valeur", "vas", "vers",
        "via", "vif", "vifs", "vingt", "vivat", "vive", "vives", "vlan", "voici",
        "voie", "voient", "voilà", "voire", "vont", "vos", "votre", "vous",
        "vous-mêmes", "vu", "vé", "vôtre", "vôtres", "w", "x", "y", "z", "zut",
        "à", "â", "ça", "ès", "étaient", "étais", "était", "étant", "état",
        "étiez", "étions", "été", "étée", "étées", "étés", "êtes", "être", "ô"
      ]
    </script>
</body>
</html>
