<!doctype html>
<html lang="{{ thematique.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ thematique.title }} — Mes Conseils Covid</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=693zBdXxar">
    <link rel="apple-touch-icon" sizes="192x192" href="/android-chrome-192x192.png?v=693zBdXxar">
    <link rel="apple-touch-icon" sizes="384x384" href="/android-chrome-384x384.png?v=693zBdXxar">
    <link rel="apple-touch-icon" sizes="512x512" href="/android-chrome-512x512.png?v=693zBdXxar">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=693zBdXxar">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=693zBdXxar">
    <link rel="manifest" href="/site.webmanifest?v=693zBdXxar">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=693zBdXxar" color="#000091">
    <link rel="shortcut icon" href="/favicon.ico?v=693zBdXxar">
    <meta name="apple-mobile-web-app-title" content="Conseils Covid">
    <meta name="application-name" content="Conseils Covid">
    <meta name="msapplication-TileColor" content="#000091">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{{ thematique.headerstr or 'Vaccination, passe vaccinal, passe sanitaire, QR code ou test PCR, il n’est pas évident de comprendre quoi faire. MesConseilsCovid répond à vos questions pour savoir quoi faire dans une situation liée à la Covid.' }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-starturl" content="/">
    <meta name="referrer" content="none">
    <meta property="og:title" content="{{ thematique.title }} — Mes Conseils Covid">
    <meta property="og:description" content="{{ thematique.headerstr or 'Vaccination, passe vaccinal, passe sanitaire, QR code ou test PCR, il n’est pas évident de comprendre quoi faire. MesConseilsCovid répond à vos questions pour savoir quoi faire dans une situation liée à la Covid.' }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ thematique.imgsrcpng }}">
    <meta property="og:url" content="https://mesconseilscovid.sante.gouv.fr/{{ thematique.name }}.html">
    <meta property="og:locale" content="fr_FR">
</head>
<body class="page-thematique" data-thematique-name="{{ thematique.name }}" data-stats-url="{{ config_stats_url|inline }}">
    <header role="banner">
        <section>
            <img id="marianne" src="marianne.png"
                alt="Ministère des Solidarités et de la Santé"
                width="100" height="78">

            <a id="logo" href="/" title="Aller à l’accueil">
                <img id="logo-carre" src="logo-carre.png"
                    alt=""
                    width="75" height="75"
                ><img id="logo-titre" src="logo-titre.png"
                    alt="Mes Conseils Covid - retour à l’accueil"
                    width="75" height="34">
                <span class="visually-hidden">Mes Conseils Covid</span>
            </a>
            <div id="js-profil-full-header" class="js-profil-full" hidden>
                <b class="profil" id="nom-profil-header"></b>
            </div>
            <div id="js-profil-empty-header" class="js-profil-empty"></div>
        </section>
    </header>
    <main role="main">
        <p class="unsupported-browser-banner">
            Vous utilisez un navigateur très ancien dont le support
            par nos équipes techniques est trop coûteux.<br>
            Nous vous invitons à installer un navigateur plus récent
            comme Firefox, Chrome ou Safari.
        </p>
        <section id="page" class="thematique">
            <section id="introduction">
                <div>
                    <div id="conseils-block" class="block">
                        <h1>{{ thematique.title }}</h1>
                        <div class="illustration">
                            <img src="{{ thematique.imgsrc }}" alt="">
                        </div>
                        <div class="conseils">
                            <div class="date-mise-a-jour">
                                Dernière mise à jour : le <time datetime="{{ thematique.last_modified.isoformat(timespec='minutes') }}">{{ thematique.last_modified.strftime('%d/%m/%Y') }}</time>.
                            </div>
                            {{ thematique.header }}
                            {{ thematique.body }}
                        </div>
                    </div>
                    <div class="feedback-block">
                        {{ meta_feedback_conseils }}
                    </div>
                    <div class="block">
                        <div class="thematiques">
                            <h2>Autres pages populaires</h2>
                            <ul class="cards ">
                                {% for thematique in thematiques %}
                                <li class="card">
                                    <a class="card-header" href="{{ thematique.name }}.html">
                                        <img src="{{ thematique.imgsrc }}" loading="lazy" alt=""
                                             width="96" height="77">
                                        <span class="card-title">{{ thematique.title }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer role="contentinfo">
        {{ meta_pied_de_page }}
    </footer>
    <script src="scripts/main.js"></script>
</body>
</html>
