@import '../node_modules/pikaday/css/pikaday.css';

.pika-mcc-theme .is-today .pika-button {
    color: #000091;
}
.pika-mcc-theme .pika-button:hover,
.pika-mcc-theme .pika-row.pick-whole-week:hover .pika-button {
    color: #fff;
    background-color: #000091;
}

@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/marianne-regular-webfont.woff2) format('woff2'),
        url(fonts/marianne-regular-webfont.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: bold;
    src: url(fonts/marianne-bold-webfont.woff2) format('woff2'),
        url(fonts/marianne-bold-webfont.woff) format('woff');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Marianne', Sans-Serif;
    font-size: 16px;
    line-height: 1.5;
    overflow: inherit;
    min-width: 360px;
}
a {
    color: #000091;
}
a:visited {
    color: #484d7a;
}
a:hover,
a:active {
    text-decoration-style: dashed;
}

section,
main footer {
    max-width: 60rem;
    margin: 0 auto;
}
main footer {
    padding: 0 1rem;
}

header {
    margin: 0 15px;
}
header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img#marianne {
    width: 100px;
    margin-right: 10px;
}
header h1 {
    text-align: center;
    margin: 0;
}
header h1 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px;
    flex-direction: column;
}
header h1 a:hover {
    border: 2px solid black;
}
@media only screen and (min-width: 680px) {
    header h1 a {
        flex-direction: row;
    }
    header h1 a #logo-titre {
        width: 100px;
        height: 45px;
    }
}

header #js-profil-empty-header,
header #js-profil-full-header {
    min-width: 100px; /* Matches Marianne size. */
    margin-left: 10px;
}
main {
    background-color: #f9f8f6;
    padding: 18px 0 48px 0;
}
@media only screen and (min-width: 680px) {
    main {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.nouveau-profil {
    background-image: url('plus-circle.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding: 10px 24px 9px 40px;
}
.profil {
    background-image: url('user-circle.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding: 10px 24px 9px 40px;
}
a .profil {
    background-image: url('user-circle-blue.svg');
}

.block {
    background-color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    margin: 1rem 0;
}
.block > * {
    max-width: 48rem;
    margin: auto;
}
.block > h1 {
    color: #000091;
    font-size: 250%;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
}
.block h2 {
    color: #000091;
    font-size: 225%;
    padding-top: 3rem;
    margin-bottom: 3rem;
}
.block p,
.block ul {
    margin: 1rem 0;
    max-width: 80ch;
}
.block ul {
    padding-left: 2rem;
    margin-bottom: 2rem;
}
.block .conseil ul {
    margin: 1.5rem 0;
}
.block ul li {
    margin-bottom: 1rem;
}

.introduction-block {
    text-align: center;
}
.introduction-block p {
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;
}
#suivi-introduction-block h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
}
.block ul.cards {
    padding: 0;
    margin: auto;
}
.card {
    border: thin solid #ccc;
    border-radius: 0.5rem;
    flex-basis: 18em;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    margin: 1rem;
    padding: 1rem 2rem;
}
.card h3 {
    margin-top: 0.5rem;
}
.card a {
    display: block;
    margin-bottom: 0.75rem;
}
.card a.button {
    margin-bottom: 1.5rem;
}
.break {
    flex-basis: 100%;
    height: 0;
}

main footer .feedback-block {
    text-align: center;
    padding: 0.5rem;
}

.feedback-form textarea {
    font-size: 1.3rem;
    display: block;
    margin: 1rem auto 0;
    width: 100%;
}

.feedback-form input[type='submit'] {
    margin-top: 0;
}

.feedback-thankyou ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}
.feedback-thankyou ul li {
    margin: 1rem;
}
@media only screen and (min-width: 680px) {
    .feedback-thankyou ul {
        align-items: stretch;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

main footer .legals {
    font-size: 0.8rem;
    text-align: center;
}

.tagline {
    font-size: x-large;
    padding-bottom: 45%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.tagline-suivi {
    font-size: x-large;
}

#nom-form,
#residence-form,
#activite-pro-form,
#foyer-form,
#caracteristiques-form,
#antecedents-form,
#symptomes-actuels-form,
#symptomes-passes-form,
#contact-a-risque-form,
#depistage-form,
#suivi-medecin-form,
#debut-symptomes-form,
#suivi-symptomes-form {
    padding-top: 40%;
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: 40%;
}

#conseils-vie-quotidienne header,
#conseils-activite header,
#conseils-foyer header,
#conseils-tests header,
#conseils-isolement header,
#conseils-contact-a-risque header,
#conseils-gestes-barrieres-masque header,
#conseils-sante header,
#conseils-grossesse header,
#conseils-foyer-enfants header,
#conseils-covid header,
#conseils-pediatrie-general header,
#conseils-pediatrie-ecole header,
#conseils-pediatrie-medical header,
#conseils-block.symptomes-actuels h2.with-illustration,
#conseils-block.symptomes-passes h2.with-illustration,
#conseils-block.contact-a-risque h2.with-illustration {
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: 35%;
    padding: 90px 0 0 0;
}
#conseils-pediatrie-general header {
    padding-top: 200px;
}
@media only screen and (min-width: 450px) {
    #residence-form,
    #activite-pro-form,
    #foyer-form,
    #caracteristiques-form,
    #antecedents-form,
    #symptomes-actuels-form,
    #symptomes-passes-form,
    #contact-a-risque-form,
    #depistage-form,
    #suivi-medecin-form,
    #debut-symptomes-form,
    #suivi-symptomes-form {
        padding-top: 25%;
        background-size: 30%;
    }

    #conseils-vie-quotidienne header,
    #conseils-activite header,
    #conseils-foyer header,
    #conseils-tests header,
    #conseils-isolement header,
    #conseils-contact-a-risque header,
    #conseils-gestes-barrieres-masque header,
    #conseils-sante header,
    #conseils-grossesse header,
    #conseils-foyer-enfants header,
    #conseils-covid header,
    #conseils-pediatrie-general header,
    #conseils-pediatrie-ecole header,
    #conseils-pediatrie-medical header,
    #conseils-block.symptomes-actuels h2.with-illustration,
    #conseils-block.symptomes-passes h2.with-illustration,
    #conseils-block.contact-a-risque h2.with-illustration {
        background-size: 15%;
        background-position: center left;
        padding: 0 0 0 8rem;
    }
    #conseils-pediatrie-general header {
        padding-top: 400px;
    }
}

#nom-form {
    background-image: url('illustrations/nom.svg');
}
#residence-form,
#conseils-vie-quotidienne header {
    background-image: url('illustrations/residence.svg');
}
#activite-pro-form,
#conseils-activite header {
    background-image: url('illustrations/activitepro.svg');
}
#foyer-form,
#conseils-foyer header {
    background-image: url('illustrations/foyer.svg');
}
#conseils-tests header {
    background-image: url('illustrations/depistage.svg');
}
#conseils-isolement header {
    background-image: url('illustrations/isolement.svg');
}
#conseils-contact-a-risque header {
    background-image: url('illustrations/contactarisque.svg');
}
#conseils-gestes-barrieres-masque header {
    background-image: url('illustrations/gestesbarrieres.svg');
}
#conseils-sante header {
    background-image: url('illustrations/contact_medecin.svg');
}
#caracteristiques-form {
    background-image: url('illustrations/caracteristiques.svg');
}
#conseils-grossesse header {
    background-image: url('illustrations/grossesse.svg');
}
#conseils-foyer-enfants header {
    background-image: url('illustrations/pediatriegeneral.svg');
}
#antecedents-form,
#suivi-medecin-form {
    background-image: url('illustrations/antecedents.svg');
}
#conseils-covid header {
    background-image: url('illustrations/covid.svg');
}
.tagline {
    background-image: url('illustrations/accueil.svg');
}
#conseils-pediatrie-general header {
    background-image: url('illustrations/pediatriegeneral.svg');
}
#conseils-pediatrie-ecole header {
    background-image: url('illustrations/pediatrieecole.svg');
}
#conseils-pediatrie-medical header {
    background-image: url('illustrations/pediatriemedical.svg');
}
#conseils-block.symptomes-actuels h2.with-illustration,
#symptomes-actuels-form,
#suivi-symptomes-form {
    background-image: url('illustrations/symptomesactuels.svg');
}
#conseils-block.symptomes-passes h2.with-illustration,
#symptomes-passes-form,
#debut-symptomes-form {
    background-image: url('illustrations/symptomespasses.svg');
}
#conseils-block.contact-a-risque h2.with-illustration,
#contact-a-risque-form {
    background-image: url('illustrations/contactarisque.svg');
}
#depistage-form {
    background-image: url('illustrations/depistage.svg');
}

.conseils {
    margin-bottom: 3rem;
}
.conseils h3,
#historique h3 {
    display: flex;
    justify-content: space-between;
    color: #000091;
    font-size: 175%;
    flex-grow: 1;
    border-radius: 0.35rem;
    margin: 1rem 0;
}
.conseils summary h3 {
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
}
.conseils h4 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 125%;
}

.statut {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 4px solid;
    text-align: center;
    margin: 3rem auto;
}
.statut-asymptomatique,
.statut-contact-a-risque-meme-lieu-de-vie-actuel,
.statut-contact-a-risque-avec-test,
.statut-contact-a-risque-sans-test,
.statut-positif-symptomatique-urgent,
.statut-symptomatique-en-attente,
.statut-symptomatique-positif,
.statut-symptomatique-sans-test,
.statut-symptomatique-urgent,
.suivi-gravite-3 {
    background: #ffb6a5;
    border-color: #ff6f4c;
}
.statut-personne-fragile,
.suivi-gravite-2 {
    background: #ffcc9f;
    border-color: #ff9940;
}
.statut-foyer-fragile,
.statut-symptomatique-negatif,
.suivi-gravite-1 {
    background: #fde7a0;
    border-color: #fdcf41;
}
.statut-en-attente,
.statut-peu-de-risques,
.suivi-gravite-0,
.statut-deconfinement {
    background: #7fd5c5;
    border-color: #00ac8c;
}

.conseil {
    background: #d5dbef;
    padding: 0.1rem 1rem;
    border-left: 5px solid #000091;
    margin-bottom: 1.5rem;
}
.conseil-orange {
    background-color: #ffb6a5;
    border-color: #ff6f4c;
}
.conseil-jaune {
    background: #fde7a0;
    border-color: #fdcf41;
}
.conseil-vert {
    background-color: #7fd5c5;
    border-color: #00ac8c;
}

fieldset {
    border: none;
    margin: 0 0 1rem 0;
    padding: 0;
}
fieldset legend {
    color: #000091;
    font-size: 150%;
    margin: 1rem 0 0.5rem 0;
}
fieldset div {
    margin: 0.5rem 0;
}
fieldset h3 ~ h3 {
    margin-top: 3rem;
}
fieldset ul {
    list-style: square;
}
fieldset ul.no-list-style {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}
fieldset .row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1rem;
}
fieldset .row > * {
    flex-grow: 1;
    flex-basis: 50%;
}

fieldset [role='radiogroup'] {
    margin-bottom: 2rem;
}

fieldset .secondary {
    margin-left: 2rem;
}
fieldset .secondary.disabled {
    display: none;
}
fieldset .secondary > p {
    margin: 4rem 0 0 0.25rem;
}
fieldset .secondary:first-child > p {
    margin-top: 2rem;
}

fieldset .field {
    margin-bottom: 1.5rem;
}

fieldset .details {
    margin: 0.25rem 0 0 0.25rem;
    color: #484d7a;
    font-size: small;
    line-height: 1.75;
}
fieldset label ~ .details {
    margin-left: 2.25rem;
}
fieldset .details ul {
    margin-top: 0;
    padding-left: 1.25rem;
}
fieldset .details p {
    margin-top: 0;
}
fieldset ul.details {
    padding-left: 1rem;
}

.dpt-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.dpt-container select {
    flex-grow: 1;
}
.dpt-container div {
    margin-left: 0.5rem;
}
.dpt-container img {
    display: block;
    width: 1.75rem;
}

.form-controls {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.form-controls .back-button {
    margin-top: 2rem;
    background-image: url('arrow-left.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    border: none;
    padding: 10px 24px 9px 40px;
    transform: translate(-0.1em, -0.1em);
    transition: all 100ms ease-in;
    align-self: flex-start;
    text-decoration: underline;
}
.form-controls input[type='submit'],
.form-controls .main-button {
    width: 100%;
}

.feedback-controls {
    display: inline-flex;
    justify-content: space-around;
    margin: 0 1rem;
    padding-top: 1rem;
    align-items: center;
}

input[type='text'],
input[type='submit'],
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #f4fcff;
    border: 1px solid #484d7a;
    border-radius: 5px;
    color: #484d7a;
    padding: 8px;
    font-size: 16px;
}

a.button:focus,
input[type='text']:focus,
input[type='submit']:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 10px 0 #5002fb;
}

a.button,
input[type='submit'] {
    text-align: center;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 12px 24px;
    text-decoration: none;
    background-color: #000091;
    color: #ffffff;
    transform: translate(-0.1em, -0.1em);
    transition: all 100ms ease-in;
    white-space: pre-wrap;
}

a.button[href=''],
input[type='submit']:disabled {
    color: black;
    background: #ddd;
    border-color: black;
    cursor: not-allowed;
}

.button-full-width {
    width: 100%;
    display: block;
}
.button-half-width {
    width: 100%;
    margin: 0 auto;
    display: block;
}
a.button-outline {
    background-color: white;
    border: 1px solid #000091;
    color: #000091;
}
a.button-red {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #fff;
}
a.button-feedback[href=''] {
    cursor: pointer;
    border-color: #000091;
    color: #000091;
}
a.button-feedback-positif[href=''] {
    background: no-repeat 24px center url('feedback-positif.svg');
    padding: 12px 24px 12px 60px;
    margin-top: 0;
}
a.button-feedback-negatif[href=''] {
    background: no-repeat 65px center url('feedback-negatif.svg');
    padding: 12px 60px 12px 24px;
    margin-top: 0;
    margin-left: 1rem;
}
a.button-feedback-flag[href=''] {
    background: no-repeat 24px center url('feedback-flag.svg');
    padding: 12px 24px 12px 60px;
    margin-top: 0;
}
a.button-feedback-contact {
    background: no-repeat 24px center url('feedback-contact.svg');
    padding: 12px 24px 12px 60px;
    margin-top: 0;
    margin-left: 1rem;
}
a.button-feedback-social-facebook {
    background: no-repeat 24px center url('feedback-social-facebook.svg');
    padding: 12px 24px 12px 60px;
    margin-top: 0;
    margin-left: 1rem;
}
a.button-feedback-social-twitter {
    background: no-repeat 24px center url('feedback-social-twitter.svg');
    padding: 12px 24px 12px 60px;
    margin-top: 0;
    margin-left: 1rem;
}

@media only screen and (min-width: 680px) {
    .form-controls {
        flex-direction: row-reverse;
        align-items: baseline;
    }
    .form-controls .back-button {
        margin-right: 2rem;
    }
    .form-controls input[type='submit'] {
        flex-grow: 1;
        width: inherit;
    }
    .form-controls a.button-outline {
        margin-right: 1rem;
    }
    .button-half-width {
        width: 50%;
    }
}

/* Nicer select, based on https://github.com/filamentgroup/select-css */
select {
    background-image: url('select.svg');
    background-repeat: no-repeat;
    background-position: right 0.7em top 50%;
    background-size: 0.65em auto;
}

/* Nicer checkboxes and radio buttons
https://www.a11ywithlindsey.com/blog/create-custom-keyboard-accesible-checkboxes
https://webdesign.tutsplus.com/tutorials/
how-to-make-custom-accessible-checkboxes-and-radio-buttons--cms-32074 */
input[type='checkbox'],
input[type='radio'] {
    position: absolute;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
    display: block;
    position: relative;
    padding: 0 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
}
input[type='radio'] + label {
    padding-left: 4rem;
}

input[type='checkbox'] + label::before,
input[type='radio'] + label::before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left: -1.25rem;
    width: 1.2rem;
    height: 1.2rem;
    background: white;
    border: 2px solid #000091;
}
input[type='radio'] + label::before {
    border-radius: 50%;
}

input[type='checkbox'][hidden] + label::before,
input[type='radio'][hidden] + label::before,
input[type='checkbox'][hidden] + label::after,
input[type='radio'][hidden] + label::after {
    display: none;
}
input[type='checkbox'][hidden] + label,
input[type='radio'][hidden] + label {
    margin-left: 0.25rem;
    padding-left: 0;
}

input[type='radio'] + label::after {
    content: '';
    position: absolute;
    display: inline-block;
    margin-right: 10px;
    left: calc(68.3px - 1.25rem);
    top: 4.3px;
    width: 0.9rem;
    height: 0.9rem;
    background: #000091;
    opacity: 0;
    border-radius: 50%;
}
input[type='radio']:checked + label::after {
    opacity: 1;
}

input[type='checkbox'] + label span {
    flex-shrink: 20;
}

input[type='checkbox']:checked + label::before {
    background: #000091;
}
input[type='checkbox']:checked + label::after {
    content: '';
    position: absolute;
    top: 5px;
    left: calc(28px - 1.25rem);
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    height: 6px;
    width: 13px;
    transform: rotate(-45deg);
}
input[type='checkbox']:focus + label::before,
input[type='radio']:focus + label::before {
    outline: 1px solid #5002fb;
    box-shadow: 0 0px 8px #5002fb;
}

input[type='checkbox'],
input[type='radio'],
.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    top: auto;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

input[type='checkbox']:disabled + label,
input[type='radio']:disabled + label {
    color: #575757;
}

input[type='checkbox']:disabled + label::before,
input[type='radio']:disabled + label::before {
    background: #ddd;
}

.button:hover,
.back-button:hover {
    cursor: pointer;
    transform: translate(0px, 0px);
}

[hidden] {
    display: none !important;
}
a[href$='.pdf']::after {
    content: ' (PDF)';
}
a[href*='youtube.com']::after {
    content: ' (vidéo Youtube)';
}
/* L’ordre est important, l’icône d’infographie écrase celle de fiche. */
.conseils a[href="https://www.has-sante.fr/jcms/p_3185131/fr/accompagner-les-enfants-et-les-adolescents-dont-ceux-vivant-avec-une-maladie-chronique-lors-de-la-levee-du-confinement"]::before,
.conseils a[href*="https://solidarites-sante.gouv.fr/IMG/pdf/"]::before,
.conseils a[href*="fiche"]::before {
    background: no-repeat bottom left url('icone_fiche.svg');
    content: '';
    display: inline-flex;
    align-items: center;
    width: 25px;
    height: 22px;
}
.conseils a[href="https://www.gouvernement.fr/sites/default/files/arbre_decisionnel_covid_2909.pdf"]::before,
.conseils a[href="https://solidarites-sante.gouv.fr/IMG/pdf/affiche_masque_mode_d_emploi.pdf"]::before,
{
    background: no-repeat bottom left url('icone_infographie.svg');
    content: '';
    display: inline-flex;
    align-items: center;
    width: 25px;
    height: 20px;
}
.conseils a[href*='youtube.com']::before {
    background: no-repeat bottom left url('icone_video.svg');
    content: '';
    display: inline-flex;
    align-items: center;
    width: 25px;
    height: 20px;
}

.conseils details {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
    border: 1px solid lightgray;
    padding: 1rem 2rem;
}
.conseils details summary {
    outline: 0;
    cursor: pointer;
    list-style: none;
}
.conseils details summary header {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin: 0;
}
.conseils details summary svg {
    height: 40px;
    width: 60px;
    color: #000091;
    transition: all 0.4s;
}
.conseils details:hover,
.conseils details[open] {
    outline: 0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}
.conseils details summary:focus h3 {
    outline: 0;
    box-shadow: 0 0px 8px #5002fb;
}
.conseils details[open] summary svg {
    transform: rotate(450deg);
}
.conseils details summary::-webkit-details-marker {
    display: none;
}
.conseils details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}
@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a#geolocalisation {
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url('map-marker2.svg');
    background-size: contain;
}

.reponse {
    color: #494e77;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.nouveau {
    border: #000091 solid 1px;
    border-radius: 20px;
    padding: 1px 6px;
    font-size: 0.8em;
    margin-right: 0.4em;
    background: #000091;
    color: #fff;
    font-variant: small-caps;
}

.message {
    border: 1px solid;
    padding: 1rem;
}
.message-error {
    background-color: #ffb6a5;
    border-color: #ff6f4c;
}

#pour-finir .icon {
    background: no-repeat left center;
    padding-left: 4rem;
    margin: 0 0 2.5rem 0;
}

#pour-finir .icon-favori {
    background-image: url('star.svg');
}

#pour-finir .icon-impression {
    background-image: url('printer.svg');
}

#pour-finir .icon-suppression {
    background-image: url('trash.svg');
}

#pour-finir .icon-information {
    background-image: url('information.svg');
    background-position: left 1.8rem;
}
#pour-finir .icon-information.js-feedback-submitted {
    background-image: url('information-soumission.svg');
    background-position: left center;
}

#pour-finir .ios-share-button {
    height: 1.5rem;
    margin-bottom: -0.4rem;
}

#historique h3 {
    margin-top: 5rem;
}
#historique table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 2rem;
}
#historique table thead td {
    font-weight: bold;
}
#historique table td {
    border: 1px solid black;
    padding: 0.5rem;
}

@media print {
    #conseils-blocs .conseils header {
        padding-top: 0;
        background-image: none;
    }

    .block {
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    .block * {
        font-size: 14px;
    }
    .statut {
        padding: 0;
        margin: 0 0 14px 0;
    }
    main,
    .statut,
    .conseil {
        background-color: white;
    }

    .block > h2,
    a[href^='#'],
    .form-controls,
    #pour-finir,
    footer {
        display: none;
    }
}
