@import '../node_modules/pikaday/css/pikaday.css';

.pika-mcc-theme .is-today .pika-button {
    color: #000091;
}
.pika-mcc-theme .pika-button:hover,
.pika-mcc-theme .pika-row.pick-whole-week:hover .pika-button {
    color: #fff;
    background-color: #000091;
}

@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/marianne-regular-webfont.woff2) format('woff2'),
        url(fonts/marianne-regular-webfont.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: bold;
    src: url(fonts/marianne-bold-webfont.woff2) format('woff2'),
        url(fonts/marianne-bold-webfont.woff) format('woff');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f9f8f6;
    color: #25252b;
    margin: 0;
    padding: 0;
    font-family: 'Marianne', Sans-Serif;
    font-size: 16px;
    line-height: 1.5;
    overflow: inherit;
    min-width: 320px;
}
@media only screen and (max-width: 680px) {
    body {
        font-size: 0.9rem;
    }
}
a {
    color: #000091;
    text-underline-offset: 3px;
}
a:visited {
    color: #3c4167;
}
a:hover,
a:active {
    text-decoration-style: dashed;
}

section,
footer > * {
    max-width: 60rem;
    margin: 0 auto;
}
footer {
    padding: 0 0 1rem 0;
}

header {
    margin: 0;
    padding: 0 15px;
    background: white;
}
header:focus {
    outline: 1px dotted gray;
}
header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img#marianne {
    width: 100px;
}
header {
    text-align: center;
    margin: 0;
}
header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px;
    flex-direction: column;
}
header a:hover {
    border: 2px solid black;
}
header a #logo-carre {
    width: 50px;
    height: 50px;
}
header a #logo-titre {
    width: 64px;
    height: 29px;
}

@media only screen and (min-width: 680px) {
    header a {
        flex-direction: row;
    }
    header a #logo-carre {
        width: 75px;
        height: 75px;
    }
    header a #logo-titre {
        width: 100px;
        height: 45px;
    }
}

header #js-profil-empty-header,
header #js-profil-full-header {
    min-width: 100px; /* Matches Marianne size. */
}
main {
    background-color: #f9f8f6;
    padding: 1px 0 10px 0;
}
@media only screen and (min-width: 680px) {
    main {
        padding-top: 18px;
    }
    main,
    footer {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.unsupported-browser-banner {
    display: none;
    text-align: center;
    background: #000091;
    color: white;
    margin: 0 auto;
    padding: 1rem;
    max-width: 60rem;
}

/* Affiche la bannière seulement pour Internet Explorer
   https://dev.to/jakedohm_34/adding-an-update-browser-banner-for-legacy-browsers-39n7
*/
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .unsupported-browser-banner {
        display: block;
    }
}

.nouveau-profil {
    background-image: url('plus-circle.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding: 10px 24px 9px 40px;
}
.profil {
    background-image: url('user-circle.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding: 10px 24px 9px 40px;
}
a .profil {
    background-image: url('user-circle-blue.svg');
}

.block {
    background-color: #ffffff;
    padding: 1rem;
    margin: 1rem 0;
}
.block > * {
    max-width: 48rem;
    margin: auto;
}
h1 {
    color: #000091;
    font-size: 250%;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
}
legend h1 {
    padding-top: 0;
    margin-bottom: 1rem;
    font-size: 175%;
}
.block h2 {
    color: #000091;
    font-size: 225%;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.block p,
.block ul {
    margin: 1rem 0;
    max-width: 80ch;
}
.block p.big {
    font-size: 110%;
}
.block ul {
    padding-left: 2rem;
    margin-bottom: 2rem;
}
.block .conseil ul {
    margin: 1.5rem 0;
}
.block li {
    margin-bottom: 1rem;
}
@media only screen and (max-width: 680px) {
    .block {
        padding: 0.5rem;
    }
    .block h2 {
        font-size: 150%;
    }
    .block ul {
        padding-left: 1rem;
    }
}

.introduction-block {
    text-align: center;
}
.introduction-block h2 {
    margin: 2rem auto;
    padding-top: 0;
}
.introduction-block p {
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;
}
.introduction-block .tagline {
    font-size: 1.3rem;
    margin-bottom: 3rem;
}
.introduction-block .actualites {
    text-align: left;
    margin-bottom: 3rem;
}
.introduction-block .actualites ul {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
.introduction-block .actualites time {
    font-weight: bold;
}
#suivi-introduction-block h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#conseils-block #conseils-block-titre {
    margin-bottom: 0;
}
#conseils-block #conseils-block-date {
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 680px) {
    h1 {
        font-size: 160%;
        padding-top: 0.5rem;
        margin: 0.5rem auto 1.5rem;
    }
    .introduction-block .tagline {
        font-size: 1.1rem;
    }
    .introduction-block .form-controls {
        margin-bottom: 0;
    }
    .introduction-block a.button {
        margin-top: 0.5rem;
    }
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}
.block ul.cards {
    padding: 0;
    margin: -1rem auto 0 auto;
    max-width: none;
}
.card {
    border: thin solid #ccc;
    border-radius: 0.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    padding: 1rem 2rem;
}
.card h3 {
    margin-top: 0.5rem;
}
.card a {
    display: block;
    margin-bottom: 0.75rem;
}
.card a.button {
    margin-bottom: 1.5rem;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.cards > li {
    margin-top: 1rem;
    display: flex;
    flex-direction: column; /* IE11 bug fix */
    flex-basis: 288px;
    margin: 1rem;
}
.page-thematique :target,
.page-thematique .conseils :target summary {
    animation: target-fade 2s 1;
}
@keyframes target-fade {
    0% {
        background-color: rgba(255, 255, 221);
    }
    100% {
        background-color: rgba(255, 255, 255);
    }
}
.page-thematique #conseils-block .sommaire h2 {
    font-size: 120%;
    color: #25252b;
    margin-top: 0;
}
@media only screen and (max-width: 658px) {
    .page-thematique #conseils-block .sommaire span.tag {
        width: 4.5rem;
        justify-content: center;
        margin-bottom: 3px;
    }
}
.page-thematique #conseils-block .sommaire .tags {
    margin-left: 0.5rem;
}
.page-thematique #conseils-block .sommaire span.tag {
    font-size: 66%;
    line-height: 1;
    padding: 3px 10px;
    min-height: auto;
    border-radius: 0.66rem;
}
.page-thematique .conseils details {
    position: relative;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
}
.page-thematique .conseils details[open] {
    padding-bottom: 1rem;
}
.page-thematique .conseils details > summary {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background: white;
    z-index: 10; /* Ensure it remains on top of other elements. */
}
.page-thematique .conseils details .explications {
    margin: 0.75rem;
    padding: 0.5rem 1rem;
    background: #eff3ff;
    border-left: 4px solid #a5baff;
}
.page-thematique .conseils details .lire-la-suite {
    margin: 0 0.75rem 0.75rem 0.75rem;
    text-align: right;
}
.page-thematique .conseils details .lire-la-suite .button {
    display: inline-block;
    margin: 0;
}
.page-thematique .conseils details[open] .explications,
.page-thematique .conseils details[open] .lire-la-suite {
    display: none;
}
.page-thematique [itemprop='url'] {
    text-decoration: none;
    color: #25252b;
}
.page-thematique details [itemprop='mainEntity'] {
    scroll-margin-top: 6rem;
}
.block .thematiques .cards {
    margin: 0 auto;
}
.thematiques {
    max-width: 58rem;
    text-align: center;
    margin-top: 1rem;
}
.thematiques h1,
.thematiques h2 {
    text-align: center;
    padding-top: 0;
}
.thematiques .cards > li {
    display: block;
    padding: 0;
    margin: 0 12px 1rem 12px;
    max-width: 285px;
}
.thematiques .cards > li.hero {
    order: -1;
}
@media only screen and (min-width: 658px) {
    .thematiques .cards > li.hero {
        width: calc((2 * 285px) + 24px);
        min-width: calc((2 * 285px) + 24px);
        max-width: calc((2 * 285px) + 24px);
    }
}
@media only screen and (min-width: 998px) {
    .thematiques .cards > li.hero {
        width: calc(100% - 24px);
        min-width: calc(100% - 24px);
        max-width: calc(100% - 24px);
    }
}
.thematiques a.card-header {
    margin: 0;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: 120%;
    transform: translate(0, 0);
    transition: all 100ms ease-in;
    min-height: 13rem;
    justify-content: center;
}
.thematiques a.card-header:hover {
    transform: translate(0.1em, 0.1em);
}
.thematiques img {
    max-width: 6rem;
    margin: 0 auto;
}
.thematiques .card-title {
    padding: 0.5rem 0 0 0;
}
.thematiques .card-actions {
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.thematiques .actions-profil {
    margin: 0 1rem 3rem;
    max-width: 230px;
}
.thematiques .card-actions .nom {
    font-weight: bold;
    font-size: 130%;
    margin-bottom: 1rem;
}
.thematiques .card-actions .button {
    margin-top: 0;
}
@media only screen and (max-width: 680px) {
    .thematiques a.card-header {
        font-size: 110%;
        padding: 0.5rem;
    }
}
@media only screen and (min-width: 680px) {
    .cards .card:first-child {
        margin-bottom: 1rem;
    }
}

footer .feedback-block {
    text-align: center;
    padding: 0.5rem;
}

.feedback-form fieldset {
    width: 100%;
}

.feedback-form textarea {
    font-size: 130%;
    display: block;
    margin: 1rem auto 0;
    width: 100%;
}

.feedback-form input[type='submit'] {
    margin-top: 0;
}

.feedback-form .feedback-email {
    text-align: center;
}

.feedback-partager ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}
.feedback-partager ul li {
    margin: 1rem;
}
@media only screen and (min-width: 680px) {
    .feedback-partager ul {
        align-items: stretch;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

footer .legals {
    font-size: 80%;
    text-align: center;
}

.tagline-suivi {
    font-size: x-large;
}

#nom-form,
#vaccins-form,
#historique-form,
#situation-form,
#sante-form,
#symptomes-form,
#contact-a-risque-form,
#depistage-form,
#suivi-medecin-form,
#suivi-symptomes-form {
    padding-top: 40%;
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: 40%;
}

#conseils-deplacements summary,
#conseils-pass-sanitaire summary,
#conseils-activite summary,
#conseils-tests summary,
#conseils-isolement summary,
#conseils-gestes-barrieres-masque summary,
#conseils-sante summary,
#conseils-grossesse summary,
#conseils-foyer-enfants summary,
#conseils-covid summary,
#conseils-pediatrie-general summary,
#conseils-pediatrie-ecole summary,
#conseils-pediatrie-medical summary,
#conseils-vaccins summary {
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: 35%;
    padding: 60px 0 0 0;
}
#conseils-pediatrie-general summary {
    padding-top: 0px;
    background-size: 0;
}
@media only screen and (min-width: 450px) {
    #vaccins-form,
    #historique-form,
    #sante-form,
    #situation-form,
    #symptomes-form,
    #contact-a-risque-form,
    #depistage-form,
    #suivi-medecin-form,
    #suivi-symptomes-form {
        padding-top: 25%;
        background-size: 30%;
    }

    #conseils-deplacements summary,
    #conseils-pass-sanitaire summary,
    #conseils-activite summary,
    #conseils-tests summary,
    #conseils-isolement summary,
    #conseils-gestes-barrieres-masque summary,
    #conseils-sante summary,
    #conseils-grossesse summary,
    #conseils-foyer-enfants summary,
    #conseils-covid summary,
    #conseils-pediatrie-general summary,
    #conseils-pediatrie-ecole summary,
    #conseils-pediatrie-medical summary,
    #conseils-vaccins summary {
        background-size: 15%;
        background-position: center left;
        padding: 0 0 0 8rem;
    }
    #conseils-tests summary,
    #conseils-deplacements summary {
        background-size: 13%;
    }
    #conseils-gestes-barrieres-masque summary,
    #conseils-sante summary,
    #conseils-pass-sanitaire summary {
        background-size: 10%;
    }
}

#nom-form {
    background-image: url('illustrations/nom.svg');
}
#situation-form {
    background-image: url('illustrations/situation.svg');
}
#conseils-deplacements summary {
    background-image: url('illustrations/deplacements.svg');
}
#conseils-pass-sanitaire summary {
    background-image: url('illustrations/pass_sanitaire.svg');
}
#conseils-activite summary {
    background-image: url('illustrations/activitepro.svg');
}
#conseils-foyer summary {
    background-image: url('illustrations/foyer.svg');
}
#conseils-tests summary {
    background-image: url('illustrations/depistage.svg');
}
#conseils-isolement summary {
    background-image: url('illustrations/isolement.svg');
}
#conseils-gestes-barrieres-masque summary {
    background-image: url('illustrations/gestesbarrieres.svg');
}
#conseils-sante summary {
    background-image: url('illustrations/contact_medecin.svg');
}
#conseils-grossesse summary {
    background-image: url('illustrations/grossesse.svg');
}
#conseils-foyer-enfants summary {
    background-image: url('illustrations/pediatriegeneral.svg');
}
#historique-form,
#conseils-covid summary {
    background-image: url('illustrations/covid.svg');
}
#conseils-pediatrie-general summary {
    background-image: url('illustrations/pediatriegeneral.svg');
}
#suivi-medecin-form,
#sante-form {
    background-image: url('illustrations/sante.svg');
}
#conseils-pediatrie-ecole summary {
    background-image: url('illustrations/pediatrieecole.svg');
}
#conseils-pediatrie-medical summary {
    background-image: url('illustrations/pediatriemedical.svg');
}
#suivi-symptomes-form {
    background-image: url('illustrations/symptomesactuels.svg');
}
#symptomes-form {
    background-image: url('illustrations/symptomespasses.svg');
}
#contact-a-risque-form {
    background-image: url('illustrations/contactarisque.svg');
}
#depistage-form {
    background-image: url('illustrations/depistage.svg');
}
#vaccins-form,
#conseils-vaccins summary {
    background-image: url('illustrations/vaccins.svg');
}

.timeline img,
.illustration img {
    width: 100%;
}

.timeline-container {
    padding: 1rem 0 2rem 0;
    margin: 1rem auto;
    width: 320px;
    background-image: url('timeline-arrow.svg');
    background-size: 80%;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.timeline-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-left: 1px;
}
.timeline-icon {
    background-color: #fff;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border: 2px solid #000091;
    border-radius: 8px;
    margin-top: 23px;
    font-family: 'Joy Pixels', 'Apple Color Emoji', 'Noto Sans Emoji', 'Segoe UI Emoji';
    font-size: 27px;
    line-height: 40px;
    text-align: center;
}
.timeline-content {
    margin-left: 1rem;
    position: relative;
    min-width: 260px;
}
.timeline-content::before {
    content: '';
    position: absolute;
    display: inline-block;
    background: #000091;
    width: 16px;
    height: 2px;
    left: -16px;
    top: 43px;
    transform: rotate(45);
}
.timeline-content p {
    margin: 0;
    font-size: 90%;
}
.timeline-content .timeline-date {
    color: #484d7a;
    font-size: 90%;
    padding-bottom: 0.2rem;
    font-weight: bold;
    margin: 0;
}
.timeline-content .timeline-texte {
    border-left: 2px solid #000091;
    padding: 0.3rem 0.6rem;
    background: #e9ecf7;
}

.timeline-contagiosite .timeline-icon {
    border-color: #fe6f4c;
}
.timeline-contagiosite .timeline-content::before {
    background: #fe6f4c;
}
.timeline-contagiosite .timeline-content .timeline-texte {
    border-color: #fe6f4c;
    background: #ffe7e1;
}

.timeline-aujourdhui {
    position: relative;
}
.timeline-aujourdhui .timeline-icon {
    border-width: 5px;
    border-radius: 200px;
    width: 40px;
    height: 40px;
    margin-left: 3px;
}
.timeline-aujourdhui .timeline-icon::after {
    content: '';
    position: absolute;
    display: inline-block;
    background: #000091;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    top: 36px;
    left: 16px;
    transform: rotate(45);
}

.timeline-fin .timeline-icon {
    border-color: #00ac8c;
}
.timeline-fin .timeline-content::before {
    background: #00ac8c;
}
.timeline-fin .timeline-content .timeline-texte {
    background: #e0fff9;
    border-color: #00ac8c;
}

.timeline-fin-positif .timeline-icon {
    border-color: #fe6f4c;
}
.timeline-fin-positif .timeline-content::before {
    background: #fe6f4c;
}
.timeline-fin-positif .timeline-content .timeline-texte {
    border-color: #fe6f4c;
    background: #ffe7e1;
}

.conseils {
    margin-bottom: 3rem;
}
.conseils summary h2,
.conseils summary h3,
#historique h3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-grow: 1;
}
.conseils summary h2,
.conseils summary h3,
#historique h3 {
    color: #000091;
    font-size: 175%;
    border-radius: 0.35rem;
    margin: 1rem 0;
}
.conseils summary {
    display: flex;
}
.conseils summary h2,
.conseils summary h3 {
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
}
.conseils h4 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 150%;
    color: black;
    border-bottom: 1px solid black;
}

#conseils-suivi-ou-statut {
    margin: 3rem auto;
}

.statut {
    font-size: 120%;
    padding: 0.5rem 1rem;
    border: 4px solid;
    text-align: center;
}
.statut-rouge,
.statut-antigenique-negatif-fragile,
.statut-asymptomatique,
.statut-asymptomatique-positif-autotest,
.statut-positif-symptomatique-urgent,
.statut-symptomatique-autotest-positif,
.statut-symptomatique-en-attente,
.statut-symptomatique-positif,
.statut-symptomatique-sans-test,
.statut-symptomatique-urgent,
.suivi-gravite-3 {
    background: #ffb6a5;
    border-color: #ff6f4c;
}
.statut-orange,
.statut-personne-fragile,
.suivi-gravite-2 {
    background: #ffcc9f;
    border-color: #ff9940;
}
.statut-jaune,
.statut-symptomatique-negatif,
.suivi-gravite-1 {
    background: #fde7a0;
    border-color: #fdcf41;
}
.statut-vert,
.statut-en-attente,
.statut-peu-de-risques,
.suivi-gravite-0,
.statut-deconfinement,
.statut-contact-a-risque {
    background: #7fd5c5;
    border-color: #00ac8c;
}
.statut-bleu {
    background: #d5dbef;
    border-color: #000091;
}

.conseil {
    background: #d5dbef;
    padding: 0.1rem 1rem;
    border-left: 5px solid #000091;
    margin-bottom: 1.5rem;
}
.conseil-orange {
    background-color: #ffb6a5;
    border-color: #ff6f4c !important;
}
.conseil-jaune {
    background: #fde7a0;
    border-color: #fdcf41 !important;
}
.conseil-vert {
    background-color: #7fd5c5;
    border-color: #00ac8c !important;
}

fieldset {
    border: none;
    margin: 0 0 1rem 0;
    padding: 0;
}
fieldset:last-of-type {
    margin-bottom: 0;
}
fieldset .secondary-title {
    font-size: 120%;
    margin: 2rem 0 0.5rem 0;
    color: #000091;
}
fieldset .secondary .details {
    margin-left: 0;
}
fieldset div {
    margin: 0.5rem 0;
}
.block fieldset h2 {
    margin: 0;
    padding: 0;
    font-size: 125%;
    color: black;
}
fieldset h3 ~ h3 {
    margin-top: 3rem;
}
fieldset ul {
    list-style: square;
}
fieldset ul.no-list-style {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}
fieldset .row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1rem;
}
fieldset .row > * {
    flex-grow: 1;
    flex-basis: 50%;
}

fieldset [role='radiogroup'],
fieldset .checkboxgroup {
    margin-bottom: 3rem;
}

fieldset .secondary,
fieldset .indented {
    margin-left: 2rem;
}
fieldset .secondary.disabled {
    display: none;
}
fieldset .secondary > p {
    margin: 4rem 0 0 0.25rem;
}
fieldset .secondary:first-child > p {
    margin-top: 2rem;
}

form .required legend::after,
form .required > label::after {
    content: ' (réponse requise)';
    color: #555;
    font-size: smaller;
    font-style: italic;
}

fieldset .secondary label[for='depistage_date'] {
    margin-left: 2.8rem;
    margin-right: 1rem;
}

input[type='radio'] + label[for='debut_symptomes_encore_avant_hier'] {
    display: flex;
    width: 100%;
}

label[for='debut_symptomes_encore_avant_hier'] input[type='date'] {
    margin-top: -5px;
    margin-left: 2rem;
    flex-grow: 1;
}

fieldset .field {
    margin-bottom: 1.5rem;
}

fieldset .details {
    margin: 0.25rem 0 0 0.25rem;
    color: #484d7a;
    font-size: small;
    line-height: 1.75;
}
fieldset .secondary label ~ .details,
fieldset label ~ .details {
    margin-left: 2.25rem;
}
fieldset .details ul {
    margin-top: 0;
    padding-left: 1.25rem;
}
fieldset .details p {
    margin-top: 0;
}
fieldset ul.details {
    padding-left: 1rem;
}

.form-controls {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.back-button {
    margin-top: 2rem;
    background-image: url('arrow-left.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    border: none;
    padding: 10px 24px 9px 40px;
    transform: translate(0px, 0px);
    transition: all 100ms ease-in;
    align-self: flex-start;
    text-decoration: underline;
}
.form-controls input[type='submit'],
.form-controls .main-button {
    width: 100%;
}

.feedback-block {
    background-color: #ffd;
    margin: 2rem auto 2rem auto;
    padding: 1.5rem 2rem;
    text-align: center;
}
.feedback-block p {
    margin: 0 0 1rem 0;
}
.feedback-block a {
    color: #484d7a;
}
.feedback-block .feedback-controls {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
}
.feedback-block .feedback-controls > * {
    margin: 0.5rem 1rem;
}

input[type='text'],
input[type='date'],
input[type='submit'],
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #f4fcff;
    border: 1px solid #484d7a;
    border-radius: 5px;
    color: #484d7a;
    padding: 8px;
    font-size: 16px;
    min-height: 36px;
}
input[type='date'] {
    min-width: 10rem;
}

.button-with-progress {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.button-with-progress .progress {
    font-size: 90%;
    color: #484d7a;
}
.button-with-progress .button {
    margin-top: 0;
}

a.button:focus,
button.button:focus,
input[type='text']:focus,
input[type='date']:focus,
input[type='submit']:focus,
select:focus {
    outline: none;
    border: 3px solid #9a9aff;
}

a.button,
button.button,
input[type='submit'] {
    text-align: center;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 12px 24px;
    text-decoration: none;
    border: 2px solid #000091;
    background-color: #000091;
    color: #ffffff;
    transform: translate(0px, 0px);
    transition: all 100ms ease-in;
    white-space: pre-wrap;
}

input[type='submit']:disabled {
    color: black;
    background: #ddd;
    border-color: #ddd;
    cursor: not-allowed;
}

.button-full-width {
    width: 100%;
    display: block;
}
.button-half-width {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.button-arrow,
a.button-arrow,
input[type='submit'].button-arrow {
    padding: 12px 64px 16px 48px;
    background-image: url('/arrow-right-white.svg');
    background-position: 95% center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 680px) {
    .button-arrow,
    a.button-arrow,
    input[type='submit'].button-arrow {
        padding: 6px 36px 8px 24px;
    }
}
input.button-outline,
button.button-outline,
a.button-outline {
    background-color: white;
    border: 1px solid #000091;
    color: #000091;
}
input.button-invisible {
    background-color: white;
    border: none;
    color: #000;
}
a.button-red {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #fff;
}
a.button-feedback {
    border-color: #000091;
    color: #000091;
}
a.button-feedback-positif {
    background: no-repeat 24px center url('feedback-positif.svg');
    padding: 12px 24px 12px 60px;
}
a.button-feedback-negatif {
    background: no-repeat 65px center url('feedback-negatif.svg');
    padding: 12px 60px 12px 24px;
}
a.button-feedback-partager {
    background: no-repeat 24px center url('feedback-partager.svg');
    padding: 12px 24px 12px 60px;
}
a.button-feedback-imprimer {
    background: no-repeat 24px center url('printer.svg');
    padding: 12px 24px 12px 60px;
}
a.button-feedback-flag {
    background: no-repeat 24px center url('feedback-flag.svg');
    padding: 12px 24px 12px 60px;
}
a.button-feedback-contact {
    background: no-repeat 24px center url('feedback-contact.svg');
    padding: 12px 24px 12px 60px;
}
a.button-feedback-social-messenger {
    background: no-repeat 24px center url('feedback-social-messenger.svg');
    padding: 12px 24px 12px 60px;
}
a.button-feedback-social-whatsapp {
    background: no-repeat 24px center url('feedback-social-whatsapp.svg');
    padding: 12px 24px 12px 60px;
}

.thematique #conseils-block details form.question-feedback,
.thematique #conseils-block details form.feedback-form {
    display: none;
}
.thematique #conseils-block details[open] form.question-feedback,
.thematique #conseils-block details[open] form.feedback-form {
    display: flex;
}

.thematique #conseils-block form.question-feedback,
.thematique #conseils-block form.feedback-form {
    color: #656565;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0 0 0;
    padding: 0.75rem 1rem 0 1rem !important;
    text-align: center;
    font-size: 95%;
}
@media only screen and (max-width: 350px) {
    .thematique #conseils-block details form.question-feedback,
    .thematique #conseils-block form.feedback-form {
        padding-left: 0;
        padding-right: 0;
        font-size: 85%;
    }
}
.question-feedback legend {
    margin: 0 auto;
}
.question-feedback div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 20rem;
    margin: 0;
}
.question-feedback label {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5rem;
}
.question-feedback input[type='submit'] {
    width: 44px;
    height: 44px;
    font-size: 150%;
    margin: 0;
    padding: 0 4px;
    border: 3px solid transparent;
}
.question-feedback label:active,
.question-feedback label:hover {
    color: #252565;
}
.question-feedback label:active input[type='submit'],
.question-feedback label:hover input[type='submit'] {
    font-size: 175%;
}

@media only screen and (min-width: 680px) {
    .form-controls {
        flex-direction: row-reverse;
        align-items: baseline;
    }
    .form-controls .back-button {
        margin-right: 2rem;
    }
    .form-controls input[type='submit'] {
        flex-grow: 1;
        width: inherit;
    }
    .form-controls a.button-outline {
        margin-right: 1rem;
    }
    .button-half-width {
        width: 50%;
    }
}

/* Nicer select, based on https://github.com/filamentgroup/select-css */
select {
    background-image: url('select.svg');
    background-repeat: no-repeat;
    background-position: right 0.7em top 50%;
    background-size: 0.65em auto;
}

/* Nicer checkboxes and radio buttons
https://www.a11ywithlindsey.com/blog/create-custom-keyboard-accesible-checkboxes
https://webdesign.tutsplus.com/tutorials/
how-to-make-custom-accessible-checkboxes-and-radio-buttons--cms-32074 */
input[type='checkbox'],
input[type='radio'] {
    position: absolute;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
    display: block;
    position: relative;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
}

input[type='checkbox'] + label::before,
input[type='radio'] + label::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    margin: 1px 11px 1px 1px;
    width: 22px;
    height: 22px;
    background: white;
    border: 2px solid #000091;
    flex-shrink: 0;
}
input[type='radio'] + label::before {
    border-radius: 50%;
}

input[type='checkbox'][hidden] + label::before,
input[type='radio'][hidden] + label::before,
input[type='checkbox'][hidden] + label::after,
input[type='radio'][hidden] + label::after {
    display: none;
}
input[type='checkbox'][hidden] + label,
input[type='radio'][hidden] + label {
    margin-left: 0.25rem;
    padding-left: 0;
}

input[type='radio'] + label::after {
    content: '';
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 10px;
    left: 6px;
    top: 6px;
    width: 12px;
    height: 12px;
    background: #000091;
    opacity: 0;
    border-radius: 50%;
}
input[type='radio']:checked + label::after {
    opacity: 1;
}

input[type='checkbox'] + label span {
    flex-shrink: 20;
}

input[type='checkbox']:checked + label::before {
    background: #000091;
}
input[type='checkbox']:checked + label::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    height: 6px;
    width: 13px;
    transform: rotate(-45deg);
}
input[type='checkbox']:focus + label::before,
input[type='radio']:focus + label::before {
    border: 3px solid #9a9aff;
}

input[type='checkbox'],
input[type='radio'],
.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    top: auto;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

input[type='checkbox']:disabled + label,
input[type='radio']:disabled + label {
    color: #575757;
}

input[type='checkbox']:disabled + label::before,
input[type='radio']:disabled + label::before {
    background: #ddd;
}

.button:hover,
.back-button:hover {
    cursor: pointer;
    transform: translate(0.1em, 0.1em);
}

[hidden] {
    display: none !important;
}
a[href$='.pdf']::after {
    content: ' (PDF)';
}
a[href*='youtube.com']::after {
    content: ' (vidéo Youtube)';
}
a.no-type::after {
    content: '';
}

/* L’ordre est important, l’icône d’infographie écrase celle de fiche. */
.conseils a[href="https://www.has-sante.fr/jcms/p_3185131/fr/accompagner-les-enfants-et-les-adolescents-dont-ceux-vivant-avec-une-maladie-chronique-lors-de-la-levee-du-confinement"]::before,
.conseils a[href*="solidarites-sante-gouv-fr-IMG-pdf-"]::before,
.conseils a[href*="fiche"]::before {
    background: no-repeat bottom left url('icone_fiche.svg');
    content: '';
    display: inline-flex;
    align-items: center;
    width: 25px;
    height: 22px;
}
.conseils
    a[href$='www-gouvernement-fr-sites-default-files-arbre_decisionnel_covid_-_nouveau.pdf']::before,
.conseils
    a[href$='www-gouvernement-fr-sites-default-files-coronavirus_mesures_barrieres_nouveau.pdf']::before,
.conseils
    a[href$='solidarites-sante-gouv-fr-IMG-pdf-bien_utiliser_son_masque-a3.pdf']::before {
    background: no-repeat bottom left url('icone_infographie.svg');
    content: '';
    display: inline-flex;
    align-items: center;
    width: 25px;
    height: 20px;
}
.conseils a[href*='youtube.com']::before {
    background: no-repeat bottom left url('icone_video.svg');
    content: '';
    display: inline-flex;
    align-items: center;
    width: 25px;
    height: 20px;
}
.conseils a.no-icon::before {
    background: none;
}

.conseils details summary {
    cursor: pointer;
}
.conseils details:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}
.conseils details {
    display: block;
    border: 1px solid lightgray;
    padding: 1rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media only screen and (max-width: 680px) {
    .conseils details {
        padding: 1rem;
    }
}
.conseils details > summary {
    outline: 0;
    list-style: none;
}
.conseils details:not([open]) > :not(summary) {
    display: none;
}
.conseils details > summary svg {
    height: 40px;
    width: 60px;
    transition: all 0.4s;
    flex-shrink: 0;
}
.conseils details:hover,
.conseils details[open] {
    outline: 0;
}
.conseils details > summary:focus h2,
.conseils details > summary:focus h3 {
    outline: 3px solid #9a9aff;
}
.conseils details[open] > summary svg {
    transform: rotate(540deg);
}
.conseils details > summary::marker,
.conseils details > summary::-webkit-details-marker {
    display: none;
}
.conseils details[open] > summary ~ * {
    animation: open 0.3s ease-in-out;
}
@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.reponse {
    color: #494e77;
    font-size: 80%;
    margin-bottom: 1rem;
}
.block .reponse p {
    max-width: 100%;
}

.nouveau {
    border: #000091 solid 1px;
    border-radius: 20px;
    padding: 1px 6px;
    font-size: 80%;
    margin-right: 0.4em;
    background: #000091;
    color: #fff;
    font-variant: small-caps;
}

[role='alert'] {
    border: 1px solid #ff6f4c;
    padding: 1rem;
    background-color: #ffb6a5;
}

#pour-finir .icon {
    background: no-repeat left center;
    padding-left: 4rem;
    margin: 0 0 2.5rem 0;
}

#pour-finir .icon-favori {
    background-image: url('star.svg');
}

#pour-finir .icon-impression {
    background-image: url('printer.svg');
}

#pour-finir .icon-suppression {
    background-image: url('trash.svg');
}

#pour-finir .ios-share-button {
    height: 1.5rem;
    margin-bottom: -0.4rem;
}
#pour-finir h4 {
    margin-top: 1.5rem;
}

#suivi-historique-block h1 {
    margin-bottom: 3rem;
}
#suivi-historique-block caption h2,
#suivi-historique-block h2 {
    font-size: 175%;
    padding-top: 1rem;
    text-align: left;
    margin-bottom: 1.5rem;
}
#suivi-historique-block h3 {
    text-align: left;
}
.table,
#suivi-historique-block table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 3rem;
}
.tableaux-vaccination-complete {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    margin-bottom: 2rem;
    margin-right: 1rem;
}
@media only screen and (max-width: 680px) {
    .tableaux-vaccination-complete {
        flex-direction: column;
        align-items: center;
    }
}
.tableaux-vaccination-complete [role='img'] {
    font-size: 150%;
}
.tableaux-vaccination-complete .plus {
    font-size: 150%;
}
.tableaux-vaccination-complete .gros.plus {
    font-weight: bold;
    font-size: 200%;
    margin: 1rem;
}
.table {
    margin-bottom: 2rem;
}
.tableaux-vaccination-complete .table {
    max-width: 20rem;
    margin: 0 auto;
}
.table thead td,
.table thead th,
#suivi-historique-block table thead td,
#suivi-historique-block table thead th {
    font-weight: bold;
}
.table td,
.table th,
#suivi-historique-block table td,
#suivi-historique-block table th {
    border: 1px solid black;
    padding: 0.5rem;
}
.table .stimulations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.table .stimulations > .stimulation {
    width: 7rem;
    flex-basis: 1;
    text-align: center;
    padding: 0.5rem 1rem;
}
@media only screen and (max-width: 680px) {
    .table .stimulations {
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    .table .stimulations > .stimulation {
        width: 5rem;
        flex-grow: 1;
    }
    .table .stimulation,
    .table .rappel {
        font-size: 90%;
        padding: 0.25rem 0.5rem;
    }
    .plus:nth-child(4),
    .plus:nth-child(2):nth-last-child(4) {
        width: 100%;
    }
}
.table .rappels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.table .rappels > .rappel {
    flex-basis: 1;
    text-align: center;
    padding: 1rem;
}
.table .delai,
.table .critere {
    font-size: smaller;
    font-style: italic;
}

#conseils-block-date {
    display: none;
}

.thematique #conseils-block .conseils {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.thematique #conseils-block h1 {
    margin-bottom: 3rem;
}
.thematique #conseils-block h2 {
    padding-top: 1rem;
    margin-bottom: 1.2rem;
    margin-top: 3rem;
    font-size: 175%;
}
.thematique .conseils details > summary svg {
    float: right;
    height: 30px;
    width: 30px;
    flex-shrink: 0;
}
.thematique #conseils-block h3 {
    padding-top: 1rem;
    margin-bottom: 1.2rem;
    font-size: 150%;
    color: black;
}
@media only screen and (max-width: 680px) {
    .thematique #conseils-block h2 {
        font-size: 125%;
    }
    .thematique #conseils-block h3 {
        font-size: 120%;
    }
}

.thematique #conseils-block form.question-feedback,
.thematique #conseils-block form.feedback-form {
    border: 2px solid #d5dbef;
    padding: 0 1rem;
}
@media only screen and (max-width: 320px) {
    .thematique #conseils-block form.question-feedback,
    .thematique #conseils-block form.feedback-form {
        padding: 0;
    }
}
.thematique #conseils-block form:not(.question-feedback):not(.feedback-form) {
    background-color: #f8f8f8;
    padding: 1rem 2rem 0.1rem 2rem;
    margin-bottom: 1.5rem;
}
.thematique #conseils-block form .back-button {
    display: inline-block;
    margin: 0.5rem 0 0 0;
    background-position: 0px center;
    padding: 10px 24px 9px 26px;
}

.thematique #conseils-block form fieldset [role='radiogroup'] {
    margin-bottom: 0;
}
.thematique #conseils-block form p {
    margin: 0 0 0.5rem 0;
}
.thematique #conseils-block form .form-controls {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
}
.thematique #conseils-block summary h2 {
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
.thematique #conseils-block form h3,
.thematique #conseils-block summary h3,
.thematique #conseils-block form h4,
.thematique #conseils-block summary h4 {
    margin: 0;
    padding-top: 1rem;
    font-size: 1rem;
}
.thematique #conseils-block summary h4 {
    padding-top: 0.4rem;
    color: #000091;
}
@media only screen and (max-width: 680px) {
    .thematique #conseils-block summary h3,
    .thematique #conseils-block summary h4 {
        padding: 0;
    }
}
.thematique #conseils-block form h3,
.thematique #conseils-block form h4 {
    color: #000;
}
.thematique #conseils-block form h4 + p,
.thematique #conseils-block form h3 + p {
    margin: 0.75rem 0;
}
.thematique #conseils-block form .back-button + fieldset legend h3,
.thematique #conseils-block form .back-button + fieldset legend h4 {
    padding-top: 0;
}
.thematique #conseils-block .statut {
    margin-bottom: 2rem;
}
.thematique #conseils-block .statut ul {
    text-align: left;
}
.thematique #conseils-block h4 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-bottom: none;
}
.thematique #conseils-block h5 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 125%;
}
.thematique .illustration {
    max-width: 8rem;
}
@media only screen and (min-width: 680px) {
    .thematique .illustration {
        max-width: 12rem;
    }
}

.thematique .exemple {
    background-color: #fefdf1;
    font-style: italic;
    padding: 1rem 2rem;
    margin: 1rem 0 1.5rem 0;
}

.thematique .voir-aussi {
    border-left: 8px solid #d5dbef;
    margin: 1rem 0 1.5rem 0;
    padding: 1.25rem 2rem 1.5rem 1.25rem;
}
.thematique .voir-aussi ul {
    list-style-type: '👉  ';
    padding-left: 1.5rem;
}
.thematique .voir-aussi li {
}
.thematique .voir-aussi ul,
.thematique .voir-aussi li:last-of-type {
    margin: 0;
}
.thematique .voir-aussi p:first-of-type {
    margin-top: 0;
}
.thematique .voir-aussi p:last-of-type {
    margin-bottom: 0;
}
.thematique span.tag {
    background-color: #d5dbef;
    color: #000;
    border: 1px solid #d5dbef;
    align-items: center;
    border-radius: 1rem;
    display: inline-flex;
    font-size: 58%;
    line-height: 1.5;
    min-height: 1.5rem;
    padding: 3px 14px;
    white-space: nowrap;
    margin-right: 0.25rem;
    text-decoration: none;
    font-weight: normal;
}

.thematique span.tag-0-a-4-ans {
    background-color: #e2d4f8;
    border-color: #e2d4f8;
}
.thematique span.tag-5-a-11-ans {
    background-color: #c4dbfd;
    border-color: #c4dbfd;
}
.thematique span.tag-12-a-17-ans {
    background-color: #b5e6eb;
    border-color: #b5e6eb;
}

.cta {
    text-align: center;
    margin: 2rem auto;
    display: flex;
    flex-flow: column nowrap;
}
.cta h2 {
    font-size: 175%;
    margin: 0;
    padding: 0;
}
.cta a.button {
    display: inline-block;
    font-size: 110%;
    margin: 1rem auto 1rem auto;
}
.cta a.button.button-outline {
    background-image: url('arrow-right-blue.svg');
}

.thematique .date-mise-a-jour {
    font-style: italic;
    margin: 2rem 0 1rem 0;
}

[data-thematique-name='conseils-pour-les-enfants']
    #masque-obligatoire-form
    fieldset
    .secondary {
    text-align: center;
}
[data-thematique-name='conseils-pour-les-enfants'] #masque-obligatoire-refaire {
    margin-bottom: 3rem;
}

@media print {
    a,
    a:link,
    a:visited {
        color: #000091;
        text-decoration: none;
    }
    a[href^='http']::after {
        content: ' <' attr(href) '>';
        font-weight: normal;
    }
    a[href^='/pdfs/']::after {
        content: ' <' attr(data-original-link) '>';
        font-weight: normal;
    }
    .conseils a[href^="https://www.has-sante.fr/"]::before,
    .conseils a[href*="youtube.com"]::before,
    .conseils a[href*="fiche"]::before,
    .conseils a[href^='/pdfs/']::before {
        background: none;
        width: 0px;
        height: 0px;
    }

    #conseils-block-date {
        display: block;
    }

    #conseils-blocs .conseils details {
        box-shadow: none !important;
    }

    #conseils-blocs .conseils summary {
        padding-top: 0;
        background-image: none;
    }
    #conseils-blocs .conseils summary h3 {
        padding: 0;
    }

    .block {
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    .block * {
        font-size: 90%;
    }
    .block p,
    .block ul {
        max-width: 100%;
    }

    .statut {
        padding: 0;
        margin: 0 0 14px 0;
    }
    .conseils:not([itemscope]) {
        page-break-before: always;
    }
    main,
    .statut,
    .conseil {
        background-color: white;
    }
    .conseil {
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
    }

    .block > h2,
    .conseils summary svg,
    .reponse .modifier,
    .form-controls,
    .feedback-block,
    .illustration,
    .cta,
    #et-ensuite,
    #pour-finir,
    footer,
    [aria-hidden='true'] {
        display: none;
    }
}
