name: Déployer une démo sur GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install French locale
        run: |
          sudo apt-get update
          sudo apt-get install locales-all
          sudo localectl set-locale LANG=fr_FR.utf8

      - name: Adjust file modification times based on commit author date
        run: |
          for FILE in $(git ls-files contenus/thematiques)
          do
              TIME=$(git log -n1 --date=iso --pretty=format:%ad -- "$FILE")
              touch -m --date="$TIME" "$FILE"
          done
          ls -l contenus/thematiques

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Set up Node v14
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install and build
        run: |
          make install
          make build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          BRANCH: gh-pages
          FOLDER: dist
